@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
  font-family: Josefin sans;
  font-size: 18px;
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
}

.App {
  margin-top: 70px;
}

.app-header {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 0;
  /*   width: 500px; */
}

.app-header .header-title {
  align-self: center;
  font-size: 30px;
  color: hsl(0, 0%, 98%);
}

.app-header .toggle-light {
  height: 27px;
  margin-left: 76%;
}

.form input {
  padding: 12px 20px 10px 20px;
  outline: none;
  border: none;
  box-shadow: none;
}

.form input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.todos {
  margin-top: 10px;
}

.todo-item {
  border-bottom: 1px solid hsl(236, 9%, 61%);
  padding-top: 10px;
}

.todo-icon-check {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.todo-icon-check img {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 2px;
  margin-bottom: 10px;
  /* margin: 0 5px 0 5px; */
}

.todo-content {
  text-align: left;
}

.todo-delete {
  margin-left: 25px;
}

.input-focus:focus {
  color: hsl(233, 11%, 84%);
}

.card-filter-text-color {
  color: hsl(233, 11%, 84%);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 350;

  margin-bottom: 10px;
}
